AddDefaultCharset utf-8
AddCharset utf-8 .utf8

DirectoryIndex index.py

RewriteEngine on

RewriteRule "^hierarchies/index\.py/(.*)-hierarchies\.html$" "hierarchies/index.py?status=$1" [NC,L]
RewriteRule "^hierarchies/index\.py/(.*)\.html$" "hierarchies/index.py?see=$1" [NC,L]
RewriteRule "^hierarchies/index\.py/(.*)/(.*)\.txt$" "hierarchies/index.py?see=$2&only=$1" [NC,L]
